@charset "utf-8" ;
body{
    background-image: url("imagens/wallpaper006.jpg");
}
div.quadrada{
    display: inline-block;
    border: solid 2px black;
    height: 200px;
    width: 200px;
    background-color: lightgray;
    border-radius: 5px;
}
div#q1{
    background-color: aqua;
}

div#q2{
background-image: linear-gradient(to right, aqua ,darkblue);
}
div#q3{
    background-image: url("imagens/wallpaper001.jpg");
}